- name: Update packages based on package.json to their latest version.
  command: |
      cd frontend
      npm install

- name: Restart pm2
  command: |
      cd frontend
      pm2 stop default
      pm2 start npm -- start
