# - name: install rsync on the ansible controller
#   connection: local
#   package:
#     name: rsync
#     state: present

# - name: "copy backend dist folder to server"
#   become: true
#   synchronize:
#     src: ../../backend/dist
#     dest: /home/ubuntu/backend_app
#     recursive: true

# - name: "copy backend node_modules folder to server"
#   become: true
#   synchronize:
#     src: ../../backend/node_modules
#     dest: /home/ubuntu/backend_app
#     recursive: true

- name: "Creates backend_app dirctory"
  file:
    path: ~/backend_app
    state: directory

- name: "list files "
  command: ls -la

- name: "copy dist files"
  synchronize:
    src: ../../backend/dist
    dest: ~/backend_app

- name: "copy node_modules files"  
  synchronize:
    src: ../../backend/node_modules
    dest: ~/backend_app

- name: delete all pm2 process
  command: |
      pm2 delete all
  ignore_errors: true

- name: start pm2 process
  command: |
      pm2 start ~/backend_app/dist/main.js -f
  ignore_errors: true
