- name: "update apt packages"
  become: true
  become_method: sudo
  apt:
    update_cache: yes

- name: "upgrade packages"
  become: true
  become_method: sudo
  apt:
    upgrade: yes
  
- name: "remove depenencies that are no longer required"
  become: true
  apt:
    autoremove: yes